<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="Keyword" value=""/>
      <add key="Yijia" value=""/>
      <add key="Rate" value=""/>
      <add key="FreqTransfer" value="30"/>
      <add key="DelayTransfer" value="10"/>
    </appSettings>
</configuration>